<div class="col-md-12 spacer">
  <div class="col-md-12 tickets-nav">
    <div class="spacerem"></div>
    <%= link_to  (mailbox_inbox_path), class:  if @url.include?('inbox') then  'btn btn-lg nav-btn border0 btn-default no-border border-bot' else 'btn btn-lg nav-btn border0 no-border' end do %><span class="label label-danger pull-right unread"><%=unread_messages_count%></span><span>Inbox</span>
    <% end %>
    <%= link_to 'Sent', mailbox_sent_path, class:  if @url.include?('sent') then  'btn btn-lg nav-btn border0 btn-default no-border border-bot' else 'btn btn-lg nav-btn border0 no-border' end %>
    <%= link_to 'Trash', mailbox_trash_path, class: if @url.include?('trash') then  'btn btn-lg nav-btn border0 btn-default no-border border-bot' else 'btn btn-lg nav-btn border0 no-border' end  %>
    <div class="spacerem"></div>
  </div>
</div>